body, html {
    margin: 0;
    padding: 0;
}

.container-fluid {
    min-height: 100vh;
    overflow: auto;
}

.pokemon {
    transition-duration: 200ms;
    cursor: pointer;
}

.pokemon:hover {
    padding-left: 6px;
}