.card {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.headerBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statsContainer {
    display: flex;
    flex-direction: column;
}

#type {
    border-radius: 4px;
    height: 55px;
    text-align: center;
    width: 120px;
    margin: 5px;
}