.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 5px;
    background-color: #1d1818;
}

.headerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.headerBar h1 {
    margin: 40px;
}

.headerBar div {
    margin: 40px;
    cursor: pointer;
    color: #007bff; /* or any other color you prefer */
}

img {
    max-width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.statsContainer {
    margin-top: 10px;
}

.baseStats {
    margin-bottom: 10px;
}

.baseStats h3 {
    margin-bottom: 10px;
}

.types {
    display: grid;
    align-content: center;
}

.types h3 {
    margin-bottom: 10px;
}


.typeBox {
    width: 80px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
    align-content: center;
    padding: 4px;
    margin: 4px;
}

#normal {
    background-color: #A8A77A;
    color: #242424;
  }
  
#water {
    background-color: #6390F0;
  }
  
#fire { background-color: #EE8130;
  }
  
#electric {
    background-color: #F7D02C;
    color: #242424;
  }
  
#grass {
    background-color: #7AC74C;
    color: #242424;
  }
  
#ice {
    background-color: #96D9D6;
    color: #242424;
  }
  
#fighting {
    background-color: #C22E28;
  }
  
#poison {
background-color: #A33EA1;
}
  
  #ground {
    background-color: #E2BF65;
    color: #242424;
  }
  
  #flying {
    background-color: #A98FF3;
  }
  
  #psychic {
    background-color: #F95587;
  }
  
  #bug {
    background-color: #A6B91A;
    color: #242424;
  }
  
  #rock {
    background-color: #B6A136;
  }
  
  #ghost {
    background-color: #735797;
  }
  
  #dragon {
    background-color: #6F35FC;
  }
  
  #dark {
    background-color: #705746;
  }
  
  #steel {
    background-color: #B7B7CE;
    color: #242424;
  }
  
  #fairy {
    background-color: #D685AD;
    color: #242424;
  }