:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
}

#normal {
  background-color: #A8A77A;
  color: #242424;
}

#water {
  background-color: #6390F0;
}

#fire {
  background-color: #EE8130;
}

#electric {
  background-color: #F7D02C;
  color: #242424;
}

#grass {
  background-color: #7AC74C;
  color: #242424;
}

#ice {
  background-color: #96D9D6;
  color: #242424;
}

#fighting {
  background-color: #C22E28;
}

#poison {
  background-color: #A33EA1;
}

#ground {
  background-color: #E2BF65;
  color: #242424;
}

#flying {
  background-color: #A98FF3;
}

#psychic {
  background-color: #F95587;
}

#bug {
  background-color: #A6B91A;
  color: #242424;
}

#rock {
  background-color: #B6A136;
}

#ghost {
  background-color: #735797;
}

#dragon {
  background-color: #6F35FC;
}

#dark {
  background-color: #705746;
}

#steel {
  background-color: #B7B7CE;
  color: #242424;
}

#fairy {
  background-color: #D685AD;
  color: #242424;
}